extends ../templates/base

block variables
	- var classBody = 'faq-page';
	- var classWrapper = 'faq';
	- var page = 'faq';

block title
	title Faq page

block header
	include ../modules/header
	+header()

block main
	.faq
		section.parallax-window.faq__banner(data-parallax="scroll", data-image-src=require("../../components/images/banner-1.jpg"))
			h1.wow.fadeInUp אתם שואלים… אנחנו עונים 
		section.faq__block
			.container
				ul.faq__list.row
					mixin faqItem(num, question, answer)
						li.faq__item.col-sm-6.col-md-4.col-lg-3
							.faq__item-inner
								.faq__num
									p #{num}
								.faq__question
									p #{question}
								.faq__answer
									.faq__answer-inner
										.scrollbar-inner
											p #{answer}
					+faqItem('1', 'מה המרחק המדויקשל החווה מן החוף?', 'מפרץ הוא אחד הנדירים שיש לחצי האי סיני להציע, מבחינת יופיו, והוא תחום בקצהו הדרומי בצוק סלע. הדעות לגבי מקור השם חלוקת – גרסה אחת טוענת אותו צוק הוא למעשה "ראש השטן" (בערבית – "ראס אל-שטן") וגרסה אחרת גורסת כי בשל מיקמו, שמו המקורי של האזור היה בכלל "ראס אל-שטאיין" במובן של צורת ריבוי זוגית – מרכזם של שני חופים. עם השנים עוות השם על ידי התיירים ל"ראס אל-שטן".')
					+faqItem('2', 'מה אורכה של החווה?', 'מפרץ הוא אחד הנדירים שיש לחצי האי סיני להציע, מבחינת יופיו, והוא תחום בקצהו הדרומי בצוק סלע. הדעות לגבי מקור השם חלוקת – גרסה אחת טוענת אותו צוק הוא למעשה "ראש השטן" (בערבית – "ראס אל-שטן") וגרסה אחרת גורסת כי בשל מיקמו, שמו המקורי של האזור היה בכלל "ראס אל-שטאיין" במובן של צורת ריבוי זוגית – מרכזם של שני חופים. עם השנים עוות השם על ידי התיירים ל"ראס אל-שטן".')
					+faqItem('3', 'מה קוטרו של כל כלוב?', 'מפרץ הוא אחד הנדירים שיש לחצי האי סיני להציע, מבחינת יופיו, והוא תחום בקצהו הדרומי בצוק סלע. הדעות לגבי מקור השם חלוקת – גרסה אחת טוענת אותו צוק הוא למעשה "ראש השטן" (בערבית – "ראס אל-שטן") וגרסה אחרת גורסת כי בשל מיקמו, שמו המקורי של האזור היה בכלל "ראס אל-שטאיין" במובן של צורת ריבוי זוגית – מרכזם של שני חופים. עם השנים עוות השם על ידי התיירים ל"ראס אל-שטן".')
					+faqItem('4', 'אילו דגים מגודלים בחווה של ים פתוח?', 'מפרץ הוא אחד הנדירים שיש לחצי האי סיני להציע, מבחינת יופיו, והוא תחום בקצהו הדרומי בצוק סלע. הדעות לגבי מקור השם חלוקת – גרסה אחת טוענת אותו צוק הוא למעשה "ראש השטן" (בערבית – "ראס אל-שטן") וגרסה אחרת גורסת כי בשל מיקמו, שמו המקורי של האזור היה בכלל "ראס אל-שטאיין" במובן של צורת ריבוי זוגית – מרכזם של שני חופים. עם השנים עוות השם על ידי התיירים ל"ראס אל-שטן".')

					+faqItem('5', 'מכמה כלובים מורכבת החווה?', 'מפרץ הוא אחד הנדירים שיש לחצי האי סיני להציע, מבחינת יופיו, והוא תחום בקצהו הדרומי בצוק סלע. הדעות לגבי מקור השם חלוקת – גרסה אחת טוענת אותו צוק הוא למעשה "ראש השטן" (בערבית – "ראס אל-שטן") וגרסה אחרת גורסת כי בשל מיקמו, שמו המקורי של האזור היה בכלל "ראס אל-שטאיין" במובן של צורת ריבוי זוגית – מרכזם של שני חופים. עם השנים עוות השם על ידי התיירים ל"ראס אל-שטן".')
					+faqItem('6', 'באיזה משקל משווקים את הדגים?', 'מפרץ הוא אחד הנדירים שיש לחצי האי סיני להציע, מבחינת יופיו, והוא תחום בקצהו הדרומי בצוק סלע. הדעות לגבי מקור השם חלוקת – גרסה אחת טוענת אותו צוק הוא למעשה "ראש השטן" (בערבית – "ראס אל-שטן") וגרסה אחרת גורסת כי בשל מיקמו, שמו המקורי של האזור היה בכלל "ראס אל-שטאיין" במובן של צורת ריבוי זוגית – מרכזם של שני חופים. עם השנים עוות השם על ידי התיירים ל"ראס אל-שטן".')
					+faqItem('7', 'מה קורה בחווה בזמן סערה בחורף?', 'מפרץ הוא אחד הנדירים שיש לחצי האי סיני להציע, מבחינת יופיו, והוא תחום בקצהו הדרומי בצוק סלע. הדעות לגבי מקור השם חלוקת – גרסה אחת טוענת אותו צוק הוא למעשה "ראש השטן" (בערבית – "ראס אל-שטן") וגרסה אחרת גורסת כי בשל מיקמו, שמו המקורי של האזור היה בכלל "ראס אל-שטאיין" במובן של צורת ריבוי זוגית – מרכזם של שני חופים. עם השנים עוות השם על ידי התיירים ל"ראס אל-שטן".')
					+faqItem('8', 'מה עומק הים במקום בו נמצאת החווה?', 'מפרץ הוא אחד הנדירים שיש לחצי האי סיני להציע, מבחינת יופיו, והוא תחום בקצהו הדרומי בצוק סלע. הדעות לגבי מקור השם חלוקת – גרסה אחת טוענת אותו צוק הוא למעשה "ראש השטן" (בערבית – "ראס אל-שטן") וגרסה אחרת גורסת כי בשל מיקמו, שמו המקורי של האזור היה בכלל "ראס אל-שטאיין" במובן של צורת ריבוי זוגית – מרכזם של שני חופים. עם השנים עוות השם על ידי התיירים ל"ראס אל-שטן".')

					+faqItem('9', 'מה עומקם שלהכלובים בחווה?', 'מפרץ הוא אחד הנדירים שיש לחצי האי סיני להציע, מבחינת יופיו, והוא תחום בקצהו הדרומי בצוק סלע. הדעות לגבי מקור השם חלוקת – גרסה אחת טוענת אותו צוק הוא למעשה "ראש השטן" (בערבית – "ראס אל-שטן") וגרסה אחרת גורסת כי בשל מיקמו, שמו המקורי של האזור היה בכלל "ראס אל-שטאיין" במובן של צורת ריבוי זוגית – מרכזם של שני חופים. עם השנים עוות השם על ידי התיירים ל"ראס אל-שטן".')
					+faqItem('10', 'האם ישנם כרישים בסביבת החווה?', 'מפרץ הוא אחד הנדירים שיש לחצי האי סיני להציע, מבחינת יופיו, והוא תחום בקצהו הדרומי בצוק סלע. הדעות לגבי מקור השם חלוקת – גרסה אחת טוענת אותו צוק הוא למעשה "ראש השטן" (בערבית – "ראס אל-שטן") וגרסה אחרת גורסת כי בשל מיקמו, שמו המקורי של האזור היה בכלל "ראס אל-שטאיין" במובן של צורת ריבוי זוגית – מרכזם של שני חופים. עם השנים עוות השם על ידי התיירים ל"ראס אל-שטן".')
					+faqItem('11', 'האם הדגים מתרבים רבייה טבעית במהלך הגידול?', 'מפרץ הוא אחד הנדירים שיש לחצי האי סיני להציע, מבחינת יופיו, והוא תחום בקצהו הדרומי בצוק סלע. הדעות לגבי מקור השם חלוקת – גרסה אחת טוענת אותו צוק הוא למעשה "ראש השטן" (בערבית – "ראס אל-שטן") וגרסה אחרת גורסת כי בשל מיקמו, שמו המקורי של האזור היה בכלל "ראס אל-שטאיין" במובן של צורת ריבוי זוגית – מרכזם של שני חופים. עם השנים עוות השם על ידי התיירים ל"ראס אל-שטן".')
					+faqItem('12', 'כמה פעמים ביום מאכילים את הדגים?', 'מפרץ הוא אחד הנדירים שיש לחצי האי סיני להציע, מבחינת יופיו, והוא תחום בקצהו הדרומי בצוק סלע. הדעות לגבי מקור השם חלוקת – גרסה אחת טוענת אותו צוק הוא למעשה "ראש השטן" (בערבית – "ראס אל-שטן") וגרסה אחרת גורסת כי בשל מיקמו, שמו המקורי של האזור היה בכלל "ראס אל-שטאיין" במובן של צורת ריבוי זוגית – מרכזם של שני חופים. עם השנים עוות השם על ידי התיירים ל"ראס אל-שטן".')

					+faqItem('13', 'מהיכן  מגיעיםהדגיגים לחווה?', 'מפרץ הוא אחד הנדירים שיש לחצי האי סיני להציע, מבחינת יופיו, והוא תחום בקצהו הדרומי בצוק סלע. הדעות לגבי מקור השם חלוקת – גרסה אחת טוענת אותו צוק הוא למעשה "ראש השטן" (בערבית – "ראס אל-שטן") וגרסה אחרת גורסת כי בשל מיקמו, שמו המקורי של האזור היה בכלל "ראס אל-שטאיין" במובן של צורת ריבוי זוגית – מרכזם של שני חופים. עם השנים עוות השם על ידי התיירים ל"ראס אל-שטן".')
					+faqItem('14', 'כיצד מתבצעת הוצאת הדגים בפועל מן הכלוביםהחווה?', 'מפרץ הוא אחד הנדירים שיש לחצי האי סיני להציע, מבחינת יופיו, והוא תחום בקצהו הדרומי בצוק סלע. הדעות לגבי מקור השם חלוקת – גרסה אחת טוענת אותו צוק הוא למעשה "ראש השטן" (בערבית – "ראס אל-שטן") וגרסה אחרת גורסת כי בשל מיקמו, שמו המקורי של האזור היה בכלל "ראס אל-שטאיין" במובן של צורת ריבוי זוגית – מרכזם של שני חופים. עם השנים עוות השם על ידי התיירים ל"ראס אל-שטן".')
					+faqItem('15', 'מה ההבדל בין דגי מים מלוחים לדגי מים מתוקים?', 'מפרץ הוא אחד הנדירים שיש לחצי האי סיני להציע, מבחינת יופיו, והוא תחום בקצהו הדרומי בצוק סלע. הדעות לגבי מקור השם חלוקת – גרסה אחת טוענת אותו צוק הוא למעשה "ראש השטן" (בערבית – "ראס אל-שטן") וגרסה אחרת גורסת כי בשל מיקמו, שמו המקורי של האזור היה בכלל "ראס אל-שטאיין" במובן של צורת ריבוי זוגית – מרכזם של שני חופים. עם השנים עוות השם על ידי התיירים ל"ראס אל-שטן".')
					+faqItem('16', 'מה ההבדל בין דגי בריכות מים מתוקים לבין דגי בריכות מים מלוחים?', 'מפרץ הוא אחד הנדירים שיש לחצי האי סיני להציע, מבחינת יופיו, והוא תחום בקצהו הדרומי בצוק סלע. הדעות לגבי מקור השם חלוקת – גרסה אחת טוענת אותו צוק הוא למעשה "ראש השטן" (בערבית – "ראס אל-שטן") וגרסה אחרת גורסת כי בשל מיקמו, שמו המקורי של האזור היה בכלל "ראס אל-שטאיין" במובן של צורת ריבוי זוגית – מרכזם של שני חופים. עם השנים עוות השם על ידי התיירים ל"ראס אל-שטן".')

					+faqItem('17', 'מה מחזור הגידול של ד ?', 'מפרץ הוא אחד הנדירים שיש לחצי האי סיני להציע, מבחינת יופיו, והוא תחום בקצהו הדרומי בצוק סלע. הדעות לגבי מקור השם חלוקת – גרסה אחת טוענת אותו צוק הוא למעשה "ראש השטן" (בערבית – "ראס אל-שטן") וגרסה אחרת גורסת כי בשל מיקמו, שמו המקורי של האזור היה בכלל "ראס אל-שטאיין" במובן של צורת ריבוי זוגית – מרכזם של שני חופים. עם השנים עוות השם על ידי התיירים ל"ראס אל-שטן".')
block footer
	include ../modules/footer
	+footerMain()