extends ../templates/base

block variables
	- var classBody = 'team-page';
	- var classWrapper = 'team';
	- var page = 'team';

block title
	title Team

block header
	include ../modules/header
	+header()

block main
	.team
		section.parallax-window.team__banner(data-parallax="scroll", data-image-src=require("../../components/images/banner-1.jpg"))
			h1.wow.fadeInUp נעים להכיר…
		section.team__section
			.container
				.row
					.team__section-left.col-sm-6
						.team__img(style='background-image: url(' + require('../../components/images/photo-1.jpg') + ')')
					.team__section-right.col-sm-6
						p
							|צוות העובדים של ים פתוח
							br
							|משפחת ים פתוח מורכבת מאנשי ים, צוללנים מקצוענים, סקיפרים ואנשי תחזוקה לוגיסטית בעלי ניסיון רב בתפעול ותחזוקה של חוות חקלאיות בלב הים מזה עשרות שנים. תחושת המשפחתיות והערבות ההדדית הינה חלק בלתי נפרד והכרחי משגרת יומם המיוחדת של עובדי החברה. ככל שהדגים נהנים מסביבה טבעית יותר בים עמוק ומבודד יותר, כך הצוותים שלנו בים מתמודדים עם תנאים מאתגרים וקשים יותר, כל זאת כ- 15 ק"מ מן החוף. 
						p
							|לעובדי ים פתוח חלק משמעותי ומכריע בשיפור איכות דגי הים הטריים המגיעים לצלחות של תושבי ישראל. בנוסף, אנו רואים בעבודתנו כשליחות בסיוע בהפחתת התלות של מדינת ישראל בייבוא דגים ממדינות זרות תוך הגדלת הייצור המקומי הישראלי תוצרת כחול לבן.
		section.team__section
			.container
				.team__text
					p
						|אנו בחברת ים פתוח מקפידים לשלוט ולפקח על כל מערך גידול הדגים, החל מפיקוח אדוק על תהליך הרבייה ומקורות הדגיגים, איכות המזון, שינוע הדגים בטמפרטורה האופטימאלית, ניטור הסביבה ועוד. פיקוח זה מתאפשר בין היתר בעזרתם של טובי הביולוגים הימיים, וטרינרים מומחים ומהנדסים טכנולוגיים אשר מקפידים על עמידה בסטנדרטים המחמירים ביותר במטרה לספק לצרכן את המוצר האיכותי, הטעים והבריא ביותר.
		section.team__section
			.container
				.team__video
					video(style='background-color: #000;')
				.team__text
					p
						|אנו בחברת ים פתוח מקפידים לשלוט ולפקח על כל מערך גידול הדגים, החל מפיקוח אדוק על תהליך הרבייה ומקורות הדגיגים, איכות המזון, שינוע הדגים בטמפרטורה האופטימאלית, ניטור הסביבה ועוד. פיקוח זה מתאפשר בין היתר בעזרתם של טובי הביולוגים הימיים, וטרינרים מומחים ומהנדסים טכנולוגיים אשר מקפידים על עמידה בסטנדרטים המחמירים ביותר במטרה לספק לצרכן את המוצר האיכותי, הטעים והבריא ביותר.
					p
						|כל זאת כ- 15 ק"מ מן החוף. 
					.team__right-img(style="background-image:url(" + require('../../components/images/photo-1.jpg') + ")")
		section.team__section
			.container
				.row
					.team__section-left.col-sm-6
						p
							|צוות העובדים של ים פתוח
							br
							|משפחת ים פתוח מורכבת מאנשי ים, צוללנים מקצוענים, סקיפרים ואנשי תחזוקה לוגיסטית בעלי ניסיון רב בתפעול ותחזוקה של חוות חקלאיות בלב הים מזה עשרות שנים. תחושת המשפחתיות והערבות ההדדית הינה חלק בלתי נפרד והכרחי משגרת יומם המיוחדת של עובדי החברה. ככל שהדגים נהנים מסביבה טבעית יותר בים עמוק ומבודד יותר, כך הצוותים שלנו בים מתמודדים עם תנאים מאתגרים וקשים יותר, כל זאת כ- 15 ק"מ מן החוף. 
						p
							|לעובדי ים פתוח חלק משמעותי ומכריע בשיפור איכות דגי הים הטריים המגיעים לצלחות של תושבי ישראל. בנוסף, אנו רואים בעבודתנו כשליחות בסיוע בהפחתת התלות של מדינת ישראל בייבוא דגים ממדינות זרות תוך הגדלת הייצור המקומי הישראלי תוצרת כחול לבן.
					.team__section-right.col-sm-6
						.team__img(style='background-image: url(' + require('../../components/images/photo-2.jpg') + ')')
		section.team__block
			.container
				h2 הצוות שלנו
					img(src="", alt="")
				.team__team-block
					ul.row
						mixin teamItem(img, name, post)
							li.col-sm-6.col-md-4
								.team__team-item
									.team__team-photo
										.team__team-img
											img(src=require("../../components/images/photo-" + img + ".jpg"), alt="")
										.team__team-name
											p #{name}
										.team__team-post
											p #{post}
						+teamItem("5", "ישראל ישראלי ", "דייג ראשי'")
						+teamItem("5", "ישראל ישראלי ", "דייג ראשי'")
						+teamItem("5", "ישראל ישראלי ", "דייג ראשי'")
						+teamItem("5", "ישראל ישראלי ", "דייג ראשי'")
						+teamItem("5", "ישראל ישראלי ", "דייג ראשי'")
						+teamItem("5", "ישראל ישראלי ", "דייג ראשי'")
block footer
	include ../modules/footer
	+footerMain()