.wrapper {
	overflow: hidden;
	&--index {
		.header {
			position: absolute;
			left: 0px;
			top: 0px;
			right: 0px;
		}
	}
}
.home {
	&__banner {
		margin-top: 168px;
		height: calc(100vh - 168px);
		@media #{$mobile} {
			margin-top: 110px;
			height: calc(100vh - 110px);
		}
		video {
			width: 100%;
			height: 100%;
		}
		&-desc, &-down {
			position: absolute;
			left: 0px;
			right: 0px;
			text-align: center;
			margin: auto;
		}
		&-desc {
			bottom: 122px;
			@media #{$tablet} {
				bottom: 90px;
			}
		}
		&-down {
			bottom: 54px;
			width: 26px;
			height: 51px;
			border: 2px solid #fff;
			border-radius: 12px;
			@media #{$tablet} {
				bottom: 20px;
			}
			&:after {
				content: '';
				position: absolute;
				left: 0px;
				right: 0px;
				bottom: 10px;
				margin: auto;
				width: 0; 
				height: 0; 
				border-left: 6px solid transparent;
				border-right: 6px solid transparent;
				border-top: 12px solid #fff;
			}
		}
		h1 {
			color: #fff;
			font-size: 36px;
			font-weight: 700;
			@media #{$tablet} {
				font-size: 28px;
			}
		}
	}
	//ABOUT
	&__about {
		background-color: #e3edf1;
		text-align: center;
		padding: 43px 0 39px 0;
		@media #{$mobile} {
			padding: 30px 0 40px 0;
		}
		span {
			display: block;
			font-size: 24px;
			line-height: 2.08;
			color: $prussian;
			margin-bottom: 36px;
			@media #{$tablet} {
				font-size: 18px;
			}
		}
		&-img {
			width: 101px;
			height: 102px;
			margin: auto auto 22px auto;
			img {
				height: 100%;
			}
		}
		&-name {
			color: $prussian;
			font-size: 30px;
			font-weight: 700;
			@media #{$tablet} {
				font-size: 24px;
			}
		}
		&-text {
			font-size: 24px;
			line-height: 1.67;
			color: #4a4a4a;
			max-width: 305px;
			margin: 14px auto 72px auto;
			min-height: 120px;
			@media #{$tablet} {
				font-size: 18px;
				margin: 14px auto 52px auto;
			}
			@media #{$mobile} {
				min-height: initial;
			}
		}
		.btn {
			width: 240px;
			height: 56px;
			border-radius: 14.4px;
			border: solid 2.4px $viking;
			font-size: 24px;
			font-weight: 500;
			color: $viking;
			padding: 10px 12px;
		}
	}
	//TEAM
	&__team {
		direction: ltr;
		text-align: center;
		h2 {
			font-size: 36px;
			font-weight: 700;
			margin: 36px 0 41px 0;
			color: $prussian;
			img {
				margin-left: 20px;
				@include addPrefix(transform, translate(0, 5px));
			}
		}
	}
	//ENVIRONMENT
	&__environment {
		padding: 150px 0 165px 0;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		@media #{$tablet} {
			padding: 75px 0 75px 0;
		}
		&-video {
			video {
				height: 380px;
				width: 100%;
				background-color: #000;
				@media #{$tablet} {
					height: 280px;
				}
			}
			@media #{$mobile} {
				margin-bottom: 20px;
			}
		}
		h2 {
			color: $prussian;
			font-size: 36px;
			font-weight: 700;
			margin-bottom: 26px;
			@media #{$tablet} {
				font-size: 28px;
				margin-bottom: 15px;
			}
		}
		p, a {
			font-size: 24px;
			@media #{$tablet} {
				font-size: 18px;
			} 
		}
		p {
			padding-left: 85px;
			line-height: 2;
			color: #272727;
			@media #{$desctop} {
				padding-left: 40px;
			}
			@media #{$tablet} {
				padding-left: 0px;
			}
		}
		a {
			display: inline-block;
			color: #113260;
			font-weight: 500;
			margin-right: 15px;
		}
	}
	//RECIPES
	&__recipes {
		padding: 53px 0 80px 0;
		background-color: #f1f3f7;
		position: relative;
		h2 {
			font-size: 36px;
			font-weight: 700;
			color: $prussian;
			@media #{$tablet} {
				font-size: 28px;
			}
		}
		li {
			p {
				font-size: 24px;
				line-height: 2;
				color: #4a4a4a;
			}
		}
		&-img {
			height: 770px;
			position: absolute;
			left: 0px;
			top: 0px;
			@media #{$desctop} {
				height: 520px;
			}
			@media #{$tablet} {
				height: 270px;
			}
			@media #{$mobile} {
				display: none;
			}
			img {
				height: 100%;
				display: block;
			}
		}
		.btn {
			position: relative;
			display: block;
			margin: auto;
			margin-top: 110px;
			width: 295px;
			height: 69px;
			border-radius: 14.4px;
			border: solid 2.4px $viking;
			font-size: 24px;
			font-weight: 500;
			color: $viking;
			padding: 15px 0 12px 0;
			@media #{$mobile} {
				margin-top: 50px;
			}
		}
	}
	//FARM
	&__farm {
		background-color: #f0f0f0;
		padding-top: 34px;
		margin-top: 16px;
		h2 {
			font-size: 36px;
			font-weight: 700;
			margin: 33px 0 149px 0;
			color: $prussian;
			@media #{$tablet} {
				font-size: 28px;
			}
		}
		&-3d {
			height: 600px;
		}
		&-img {
			height: 239px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}
	}
	//GALLERY
	&__gallery {
		text-align: center;
		h2 {
			font-size: 36px;
			font-weight: 700;
			margin: 33px 0 16px 0;
			color: $prussian;
			direction: ltr;
			img {
				margin-left: 20px;
				@include addPrefix(transform, translate(0, 5px));
			}
		}
		&-list {
			margin: 0 -10px;
		}
		&-item {
			padding: 0 10px;
			margin-top: 24px;
		}
		&-img {
			display: block;
			position: relative;
			height: 300px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			&:hover {
				.home__gallery-hidden {
					opacity: 1;
				}
			}
		}
		&-hidden {
			position: absolute;
			top: 0px;
			left: 0px;
			right: 0px;
			bottom: 0px;
			background-color: rgba(#000, 0.51);
			color: #fff;
			font-size: 24px;
			display: flex;
			align-items: center;
			justify-content: center;
			opacity: 0;
			transition: 0.3s all ease;
			h4 {
				font-weight: 700;
			}
			p {
				margin-top: 10px;
				font-weight: 400;
			}
		}
		.btn {
			margin: 40px 0;
			width: 240px;
			height: 56px;
			border-radius: 14.4px;
			border: solid 2.4px $viking;
			color: $viking;
			font-weight: 500;
			font-size: 24px;
			padding: 9px 12px;
		}
	}
}
.slick-main {
	margin-bottom: 125px;
	.slick-list {
		margin: 0 -8px;
	}
	.slick-slide {
		margin: 0 8px;
	}
	.slick-dots {
		bottom: -52px;
		li {
			height: 14px;
			width: 14px;
			margin: 0 8px;
			button {
				height: 14px;
				width: 14px;
				&:before {
					height: 14px;
					width: 14px;
					line-height: 14px;
					font-size: 14px;
					color: $viking;
				}
			}
			&.slick-active {
				button {
					&:before {
						color: $prussian;
					}
				}
			}
		}
	}
	&__img {
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 505px;
		margin: auto;
		@media #{$desctop} {
			height: 420px;
		}
	}
}